/* 
css jest od dolu do gory, wizualnie
*/
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar img {
  height: 80%;
}
.main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.main #board {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1800px) {
  .main #board {
      width: 30%;
  }
}
.main .inf-area {
  width: 20%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1800px) {
  .main .inf-area {
      width: 25%;
  }
}
.main .inf-area h3 {
  font-size: 1.5rem;
  display: block;
  height: 15%;
}
.main .inf-area #pgnview {
  overflow-y: scroll;
  height: 50%;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.3rem;
  border: #000 1px solid;
}
@media (max-width: 1500px) {
  .main .inf-area h3 {
      margin: 5px;
      font-size: 1.2rem;
      height: 8%;
  }
}
.main .button-area {
  width: 30%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main .button-area button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 3rem;
  background-color: #fff;
}

.main .button-area button i {
  display: block;
  height: 100%;
  width: 20%;
}
.main .button-area button .text-wrapper {
  width: 80%;
  text-align: center;
  padding: 1rem;
}
.main .button-area button:hover {
  background-color: #4caf50;
  color: #fff;
}
.main .button-area form {
  width: 100%;
}
@media (max-width: 1400px) {
  .main .button-area {
      height: 80%;
  }
  .main .button-area button {
      padding: 0;
      font-size: 1rem;
  }
  .main .button-area button .text-wrapper {
      padding: 0.3rem;
  }
}

